javascript:
  var comments = #{raw @comments.to_json}

#player-container
  #comment-region
    #player

/* comment.time will be added before sending. */
- @new_comment.player_id = 1 # [TODO]
== form_for(@new_comment, remote: true) do |c|
  == c.text_field :text
  == c.hidden_field :video_id
  == c.hidden_field :player_id
  == c.submit "コメント", class: "btn"

#alert-message.alert.alert-danger
  
javascript:
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '300',
      width: '400',
      videoId: "#{@video.youtube_video_id}",
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }
