/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
*/

@import "font-awesome";

// override 
$text-color: white;
$table-bg-hover: #555;
.popover {
  color: #5c5c5c;
}

// Application
@import "errors";

$screen-xs-max: 360;

@media (max-width: $screen-xs-max) {
  .show-xs {
    display: block;
  }
  .show-non-xs {
    display: none;
  }
}

@media (min-width: $screen-xs-max) {
  .show-xs {
    display: none;
  }
  .show-non-xs {
    display: block;
  }
}

@media (max-width: $screen-xs-max) {
  div.videos {
    padding: 0px;
  }
}

.unlink {
  color: #888;
}

.dropdown-menu {
  .myname {
    color: green;
    padding-top:5px;
    padding-left:13px;
    padding-bottom:3px;
  }
}

.btn-fix-for-mobile {
  border: 1px solid #777;
  background-color: #aaa;
}

.text-centering {
  text-align: center;
}

.link-color {
  color: #428bca;
}

.link-color:hover {
  color: #2a6496;
}

a.no-decoration {
  text-decoration: none;
  color: white;
}

a.no-decoration:hover {
  text-decoration: underline;
}

.contents-container {
  padding-left: 2%;
  padding-right: 2%;
  bottom:auto;
}

#thumbnails {
  img.video_thumbnail {
	width: 100%;
	height: auto;
	/* margin: 12px; */
	-webkit-box-shadow: 3px 3px 3px #333;
  }
  .thumbnail-container {
	padding-top: 15px;
	padding-bottom: 15px;
	/* background-color: red; */
	/* border: 1px solid green; */
  }
}
