@import "constants";
@import "utilities";

// Navigation Box
.nav-box {
  background-color: #F0F0F0;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  text-align: center;
  font-size: $sp-data-title-font-size;
  color: $nav-invalid-color;
  nav.pagination {
    display: inline;
  }
}

.padding-as-bottom-margin {
  @media (max-width: $sp-max-width) {
    margin-bottom: $sp-show-padding;
  }
  @media (min-width: $pc-min-width) {
    margin-bottom: $pc-show-padding;
  }
}

.filter-by-selection {
  @include base-show-margin;
  @media (max-width: $sp-max-width) {
    text-align: left;
    margin-bottom: 18px;
    select {
      font-size: $sp-select-font-size;
      margin-bottom: 3px;
    }
  }
  @media (min-width: $pc-min-width) {
    text-align: right;
    margin-bottom: 4px;
  }
}

// Back and Forward in iOS App
#browsing-nav-in-ios-app {
  $button-size: 44px;
  border: 1px solid #B2B2B2;
  background-color: #F9F9F9;
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: $button-size;
  height: $button-size;
  text-align: center;
  img {
    width: $button-size;
    height: $button-size;
    display: block;
    float: left;
  }
}

// Card
.card {
  margin-left: 8px;
  margin-right: 8px;
  padding: 12px;
  h2 {
    display: inline;
    font-weight: bold;
    margin: 0;
    padding: 0px;
  }
}
@media (max-width: $sp-max-width){
  .card {
    border-bottom: 1px solid $sp-card-border-color;
    h2 {
      font-size: $sp-card-title-font-size;
    }
  }
}
@media (min-width: $pc-min-width) {
  .cards {
    margin: 17px;
  }
  .card-container {
    float: left;
    margin: 17px;
  }
  .with-half-transparent {
    background-image: asset-url('pc_card_background.png');
    padding: 0;
    margin: 0;
  }
  .card {
    border: 1px solid $pc-card-border-color;
    padding: 19px;
    padding-top: 13px;
    padding-bottom: 15px;
    h2 {
      font-size: $pc-card-title-font-size;
      margin-bottom: 3px;
    }
  }
}

// Thumbnails
.thumbnails {
  box-sizing: border-box;
  width: 100%;
  
  .thumbnail-container {
    float: left;
    box-sizing: border-box;

    .thumbnail {
      position: relative;
      img.capture {
        display: block;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #ccc;
      }
      .vol-of-event {
        background-image: asset-url('bg_for_volume.png');
        background-position: bottom right;
        background-size: contain;
        position: absolute;
        bottom: 0px;
        right: 0px;
        color: white;
      }
    }
  }
}

@media (max-width: $sp-max-width) {
  .thumbnails {
    padding-left: $sp-show-padding;
    padding-right: $sp-show-padding;
    .thumbnail-container {
      width: 100%;
      padding-bottom: $sp-show-padding;
      .vol-of-event {
        padding-right: 10px;
        font-size: $sp-data-title-font-size;
      }
    }
  }
}

@media (min-width: $pc-min-width) {
  $thumbnails-interval: 14px;
  .thumbnails {
    padding-left: $pc-show-padding - $thumbnails-interval;
    padding-right: $pc-show-padding - $thumbnails-interval;
    .thumbnail-container {
      width: 25%;
      padding: $thumbnails-interval;
      .vol-of-event {
        padding-right: 10px;
        font-size: $pc-card-title-font-size;
      }
    }
  }
}

.data-title {
  @include base-show-margin;
  text-align: center;
  h1 {
    color: white;
    background-color: black;
  }
}

@media (max-width: $sp-max-width) {
  .data-title {
    h1 {
      display: block;
      margin-top: 26px;
      margin-bottom: 28px;
      padding: 4px 14px;
      font-size: $sp-data-title-font-size;
    }
  }
}

@media (min-width: $pc-min-width) {
  .data-title {
    h1 {
      display: inline-block;
      margin-top: 40px;
      margin-bottom: 40px;
      padding: 4px 16px;
      font-size: $pc-data-title-font-size;
      box-shadow: 3px 2px 3px rgba(0,0,0,0.4);
    }
  }
}


.stats {
  background-color: white;
  border-top: 1px solid $sp-card-border-color;
  border-bottom: 1px solid $sp-card-border-color;
  margin-bottom: 18px;
}
@media (max-width: $sp-max-width) {
  .stats {
    height: 210px;
    // Hide Pilot Image
    background-position: -9999px -9999px;
    background-repeat: no-repeat;
    #chart {
      height: 210px;
      margin: 0 auto;
      max-width: 100%;
    }
  }
  // To show 100% width graph with margined-border
  .stats {
    border: none;
    margin-bottom: 0px;
  }
  .border-top-of-stats {
    @include base-show-margin;
    height: 1px;
    background-color: $sp-card-border-color;
  }
  .border-bottom-of-stats {
    @include base-show-margin;
    height: 1px;
    background-color: $sp-card-border-color;
    margin-bottom: 18px;
  }
}
@media (min-width: $pc-min-width) {
  .stats {

    margin-left: $pc-show-padding;
    margin-right: $pc-show-padding;
    #chart {
      min-height: $stat-min-height;
      background-size: contain;
      width: 50%;
      float: left;
    }
  }
}

.no-data {
  background-image: asset-url('bg_no_data.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#invalidate-cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
}

#now-loading-at-nav {
  $size: 46px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $size + 7;
  z-index: 1000;
  background-image: asset-url('now_loading.gif');
  background-position: center 7px;
  background-size: $size $size;
  background-repeat: no-repeat;
}

// Used in Smart Phone
#now-loading-at-filter {
  $size: 22px;
  float: right;
  width: $size + 6;
  margin-right: 6;
  height: $size;
  background-image: asset-url('now_loading.gif');
  background-position: left center;
  background-size: $size $size;
  background-repeat: no-repeat;
}
