// Size
$pc-min-width: 881px;
$sp-max-width: 880px;
$navbar-height: 58px;

// Color
$text-color: black;
$additional-text-color: #A6A6A6;
$background-color: white;
$link-color: #0433FF;
//$border-gray-color: #AAA;
$pc-card-border-color: #B4B4B4;
$sp-card-border-color: #D4D4D4;

// Font
$pc-card-title-font-size: 32px;
$sp-card-title-font-size: 20pt;
$pc-text-font-size: 13pt;
$sp-text-font-size: 14px;