// Size
$pc-min-width: 881px;
$sp-max-width: 880px;
$navbar-height: 58px;
$pc-show-padding: 50px;
$sp-show-padding: 16px;
$modal-width: 800px;
$stat-min-height: 400px;
$twitter-max-width: 520px;

// Color
$text-color: black;
$additional-text-color: #A6A6A6;
$background-color: white;
$link-color: #0433FF;
//$border-gray-color: #AAA;
$pc-card-border-color: #B4B4B4;
$sp-card-border-color: #D4D4D4;
$nav-invalid-color: #333;
$chart-1-color: #3366CC;
$chart-2-color: #DC3912;
$chart-3-color: #FF9900;

// Font
$base-font: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro", 'メイリオ',Meiryo,'ＭＳ Ｐゴシック','Roboto', sans-serif;
$pc-card-title-font-size: 32px;
$sp-card-title-font-size: 20pt;
$pc-data-title-font-size: 24pt;
$sp-data-title-font-size: 28pt;
$pc-mecha-title-font-size: 24pt;
$sp-mecha-title-font-size: 20pt;
$pc-text-font-size: 13pt;
$sp-text-font-size: 14px;
$sp-video-title-font-size: 19pt;

// View
$sp-padding-for-nav-drop-shadow: 4px;
