.error-logo {
  width: 359px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  img {
    width: 359px;
  }
}

.error-msg {
  width: 359px;
  margin-left: auto;
  margin-right: auto;
  img {
    width: 359px;
  }
}