@import "constants";

.events {
  @media (min-width: $pc-min-width) {
    .card-container {
      height: 140px;
      .card {
        width: 466px;
      }
    }
  }
  .num-of-games {
    color: $additional-text-color;
  }
}
