.events {
  .contents-container.show {
    text-align: center;
  }

  h1 {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  }
  
  .participants {}
  .add-participants-link {
    text-align: right;
  }

  .add-participants {
    color: white;
    form {
      margin-top: 12px;
    }
  }
}
