.favorites {
  .carousel-caption {
    left: 7%;
    right: 7%;
    bottom:auto;
    #thumbnails {
      img.video_thumbnail {
	width: 100%;
	height: auto;
	/* margin: 12px; */
	-webkit-box-shadow: 3px 3px 3px #333;
      }
      .thumbnail-container {
	padding-top: 15px;
	padding-bottom: 15px;
	/* background-color: red; */
	/* border: 1px solid green; */
      }
    }
  }

  .memo {
    position: absolute;
    bottom: 15px;
    text-align: left;
    margin-right: 15px;
    margin-left: 0px;
    padding: 5px 7px 3px 7px;
    background: rgba(0, 0, 0, 0.4)
  }
}