@import "constants";
.players {

  .card {
    // Pilot Image
    background-repeat: no-repeat;
    background-position: right 10px;
    background-size: contain;
    
    .stats {
      dl {
        margin-top: 10px;
        margin-bottom: 0px;
        line-height: 200%;
        dt {
          float: left;
        }
      }
    }
    .num-of-games {
      color: $additional-text-color;
    }
  }

    
  @media (max-width: $sp-max-width) {
    $max-width-of-mecha-name: 200px;
    .cards {
      padding-top: $sp-padding-for-nav-drop-shadow;
    }
    .card {
      .stats {
        dl {
          dt {
            width: $max-width-of-mecha-name;
          }
        }
      }
    }
  }
  
  @media (min-width: $pc-min-width) {
    $max-width-of-mecha-name: 220px;
    .card {
      height: 160px;
      width: 462px;
      .stats {
        dl {
          dt {
            width: $max-width-of-mecha-name;
          }
        }
      }
    }
  }
  
}
