@import "constants";
@import "utilities";

.players {

  .card {
    // Pilot Image
    background-repeat: no-repeat;
    background-position: right 10px;
    background-size: contain;
    
    .stats-summary {
      dl {
        margin-top: 10px;
        margin-bottom: 0px;
        line-height: 200%;
        dt {
          float: left;
        }
        dd {
          @include ellipsis;
        }
        dt.empty {
          color: gray;
          clear: both;
        }
      }
    }
    .num-of-games {
      color: $additional-text-color;
    }
  }

    
  @media (max-width: $sp-max-width) {
    $max-width-of-mecha-name: 200px;
    .cards {
      padding-top: $sp-padding-for-nav-drop-shadow;
    }
    .card {
      height: 135px;
      .stats-summary {
        dl {
          dt {
            width: $max-width-of-mecha-name;
          }
        }
      }
    }
  }
  
  @media (min-width: $pc-min-width) {
    $max-width-of-mecha-name: 220px;
    .card {
      height: 160px;
      width: 462px;
      .stats-summary {
        dl {
          dt {
            width: $max-width-of-mecha-name;
          }
        }
      }
    }
  }

  .data-title h1 {
    @media (max-width: $sp-max-width) {
      margin-top: 26px;
      margin-bottom: 21px;
    }
  }

  .stats {
    background-position: right bottom;
    background-repeat: no-repeat;
    #basic-data {
      height: 400px;
      overflow: scroll;
    }
  }
  @media (max-width: $sp-max-width) {
    // Hide Pilot Image in Smart Phone
    background-position: -9999px -9999px;
  }
}
