@import "constants";

@media (max-width: $sp-max-width){
  .sp {
    display: block;
  }
  .pc {
    display: none;
  }
}

@media (min-width: $pc-min-width){
  .sp {
    display: none;
  }
  .pc {
    display: block;
  }
}

.nav-box {
  background-color: #F0F0F0;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
}