@import "bootstrap/variables";
.videos {
  .title {
    font-size: 18pt;
    bottom: 20px;
    z-index: 10;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }

  #player-container {
    text-align: center;
    padding-top: 10px;
    width: 420px;
    height: 320px;
    background-color: black;
    margin-left:auto;
    margin-right:auto;
    #player {
      width: 400px;
      height: 300px;
    }
  }

  #comment-container {
    text-align: center;
  }

  #comment_text {
    width: 335px;
  }

  #comment-region {
    width: 400px;
    height: 300px;
    margin-left:auto;
    margin-right:auto;
  }

  #alert-message {
    color: red;
    margin-top: 30px;
    width: 420px;
    display: none;
    margin-left:auto;
    margin-right:auto;
  }

  .control-panel {
    clear: both;
    padding-top: 10px;
    ul {
      display: inline;
      padding: 5px;
      padding-left: 9px;
      border-radius: 10px;
      border: 1px solid #666;
      font-size: 40px;
      li {
	display: inline;
	i {
	  width: 40px;
	  height: 40px;
	  margin: 3px;
	}
      }
      .for-popover-font-size {
	font-size: 14px;
	li {font-size: 40px;}
      }
    }
  }

  .centering {
    margin-left:auto;
    margin-right:auto;
    width: 820px;
    .player-and-comment {
      float: left;
      width: 420px;
    }
    .previous-video {
      float:left;
      text-align: left;
    }
    .next-video {
      float:left;
      text-align: right;
    }
  }

  @media (min-width: 1064px) {
    .previous-video {
      font-size: 130pt;
      padding-top: 44px;
      width: 23%;
    }
    .next-video {
      font-size: 130pt;
      padding-top: 44px;
      width: 23%;
    }
  }
  @media (min-width: 780px) AND (max-width: 1064px) {
    .previous-video {
      font-size: 100pt;
      padding-top: 60px;
      width: 17%;
    }
    .next-video {
      font-size: 100pt;
      padding-top: 60px;
      width: 17%;
    }
  }
  @media (min-width: 630px) and (max-width: 780px) {
    .centering {
      width: 620px;
    }
    .previous-video {
      font-size: 80pt;
      padding-top: 60px;
      width: 100px;
    }
    .next-video {
      font-size: 80pt;
      padding-top: 60px;
      width: 100px;
    }
  }
  .event-video-nav-less-than-420 {
    .previous-video {
      display: none;
    }
    .next-video {
      display: none;
    }
    clear: both;
    font-size: 30pt;
    text-align: center;
  }
  @media (max-width: 630px) {
    .player-and-comment {
      width: 420px;
    }
    .centering {
      width: 420px;
      .previous-video {
	display: none;
      }
      .next-video {
	display: none;
      }
    }
    .event-video-nav-less-than-420 {
      .next-video {
	display: inline;
      }
      .previous-video {
	display: inline;
      }
    }
  }  
}
