// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.videos {
  #player-container {
    text-align: center;
    padding-top: 10px;
    width: 420px;
    height: 320px;
    background-color: black;
    #player {
      width: 400px;
      height: 300px;
    }
  }

  #comment_text {
    width: 338px;
  }
  
  #comment-region {
    width: 400px;
    height: 300px;
    margin-left:auto;
    margin-right:auto;
  }

  #alert-message {
    color: red;
    margin-top: 30px;
    width: 420px;
    display: none;
  }

}

